<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>

    {{> navbar }}

    <div class="col-8">
        <h1>Capitan america</h1>
        <p>
            weqwewqeqwe
        </p>
    </div>
    <div class="col-4">

    </div>

    {{> footer}}
</body>

</html>